<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}Books{% endblock %}</title>
		{% load static %}
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
		/>
		<link rel="stylesheet" href="{% static 'style.css' %}" />
	</head>
	<body>
		<header>
			<nav id="books-nav">
				<div><a href="{% url 'books:home' %}">Home</a></div>
				<div><a href="{% url 'admin:index' %}">Admin</a></div>
				<div><a href="#">Api documentation</a></div>
			</nav>
		</header>

		<main>
			{% block content %}
			<!-- Default content can go here if needed -->
			{% endblock %}
		</main>

		<footer>
			<p>&copy; 2024 Books. All rights reserved.</p>
		</footer>
	</body>
</html>
